<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linh Hoang</title>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap" rel="stylesheet">
    
    <!-- Bootstrap + CSS stylesheet -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/styles.css">

    <!-- Bootstrap Javascript  -->
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js" integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i" crossorigin="anonymous"></script>

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/08cbb4f779.js" crossorigin="anonymous"></script>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">


</head>
<body data-bs-spy="scroll" data-bs-target="#mynavbar" data-bs-root-margin="0px 0px -60%" tabindex="0">

<!-- Navbar -->

<section id="header">
<nav class="navbar navbar-expand-lg text-uppercase fixed-top " id="mynavbar">
        <!-- <a class="navbar-brand" href="#">Linh Hoang</a> -->
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto nav-pills">
                <li class="nav-item">
                <a class="nav-link active" href="#portfolio">Portfolio</a>
                </li>
                <li class="nav-item">
                 <a class="nav-link" href="#about">About me</a>
                </li>
                <li class="nav-item">
                 <a class="nav-link" href="#contact">Contact</a>
                </li>
            </ul>
        </div> 

</nav>

    
<!-- Title -->


<div class="container-fluid title">


    <div class="profile">
        <img class="img-fluid" src="static/assets/image/linh2.png" alt="myprofile">
    </div>
    <div class="intro">
            <h1>Linh Hoang</h1>
            <i class="fa-sharp fa-solid fa-gears myicon"></i>
            <h2>Web Developement - Data Science</h2>
    </div>



</div> 
</section>
       
<!-- Portfolio -->
    
<section id="portfolio">
    <div class="container-fluid">

    <div class="portfolio-title">
    <h3>Portfolio</h3>
    <i class="fa-sharp fa-solid fa-laptop-code myicon"></i>
    </div>

    </div>

    <div class="row">
        <div class="col-lg-6  project-col" >
            <div class="card shadow h-100" >
                <img class="card-img-top mx-auto" src="static/assets/image/minimalmind-store.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Minimal Mind </h5>
                    <p class="card-text">Clothing website built with HTML,CSS and Javascript.</p>
                    <a href="https://linhhoang2812.github.io/MinimalMind/" class="btn btn-primary mybtn">Site Preview</a>
                    <a href="https://github.com/LinhHoang2812/MinimalMind" class="btn btn-primary mybtn">Source Code</a>
                </div>
            </div>
        </div>

        <div class="col-lg-6 project-col">

            <div class="card shadow h-100">
                <img class="card-img-top mx-auto" src="static/assets/image/blog.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Personal Blog</h5>
                    <p class="card-text">Personal blog built with Bootstrap template, Flask Python and PostgresSQL</p>
                    <a href="https://linhblog.onrender.com" class="btn btn-primary mybtn">Site Preview</a>
                    <a href="https://github.com/LinhHoang2812/FlaskBlog" class="btn btn-primary mybtn">Source Code</a><br>
                    <small>This website is hosted by Render on free tier so it will takes some time to load.</small>
                </div>
            </div>

        </div>
    </div>

        <div class="row">
            <div class="col-lg-6 project-col" >
                <div class="card shadow h-100" >
                    <img class="card-img-top mx-auto" src="static/assets/image/clusters1.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Udemy courses</h5>
                        <p class="card-text">I analysed all IT courses on Udemy and here is what I found out! </p>
                        <a href="https://github.com/LinhHoang2812/Udemycourse/blob/main/Udemy%20course%20project.ipynb" class="btn btn-primary mybtn">Source Code</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 project-col">

                <div class="card shadow h-100">
                    <img class="card-img-top mx-auto" src="static/assets/image/delizdays.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Delicious Days</h5>
                        <p class="card-text">A responsive restaurant website built with HTML, CSS and vanilla Javascript</p>
                        <a href="https://linhhoang2812.github.io/Deliz-Days/" class="btn btn-primary mybtn">Site Preview</a>
                        <a href="https://github.com/LinhHoang2812/Deliz-Days" class="btn btn-primary mybtn">Source Code</a>
                    </div>
                </div>

            </div>
        </div>

</section>


<!-- About me -->
<section id="about">
<div class="container-fluid ">
<div class="about-content">
    <div class="about-title">
    <h3>About me</h3>
   
    </div>

    <div class="row">
        <div class ="col-lg-6 about-text">
            <h6>Hello!</h6>
            <p>I am a data analyst student and a strongly data-driven person. Yet, I love working on webapps and brings them to life.</p>
        </div>
        <div class ="col-lg-6 about-text">
            <h6>My top skills</h6>
            <i class="fa-brands fa-html5 skillicon"></i>
            <i class="fa-brands fa-css3-alt skillicon"></i>
            <i class="fa-brands fa-bootstrap skillicon"></i>
            <i class="fa-brands fa-js skillicon"></i>
            <i class="fa-brands fa-python skillicon"></i>

            
        </div>    
    </div>
    <a class="btn btn-primary mybtn" href="{{ url_for('download',filename = 'LinhCV_tirocinio.pdf') }}">Resume</a>

</div>

</div>
</section>

<!-- Contact -->
<section id="contact">
<div class="container-fluid">
    
    <div class="contact-content">
        <div class="contact-title">
            <h3>Contact Me</h3>
            <i class="fa-sharp fa-solid fa-message myicon"></i><br>
            <p class="alert">{{ alert }}</p>
            
        </div>
    

    <div class="contact-form">

    <form id="contactform" action="/" method="POST">
        <div class="mb-3">
          <label for="name" class="form-label">Full Name</label>
          <input type="text" class="form-control" name="name" id="name">
          <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
          
        </div>
       
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" name="email" id="email">
        </div>

        
        <div class="mb-3">
            <label class="form-label" for="message" >Message</label>
            <textarea name="message"  class="form-control" id="message" cols="30"  rows="10" style="height: 10rem"></textarea> 

        </div>
        <input type="submit" class="btn btn-primary mybtn" value="Send">
<!--        <a href="#contact" class="btn btn-primary mybtn" >Submit</a>-->

    </form>
    </div>
    </div>

</div>
</section>


<section id="footer">
    <div class="container-fluid">
        <div class="row footer-content">
            <div class ="col-lg-6 footer-text">
                <h4>Location</h4>
                <p>Bologna, Italy</p>
    
            </div>
            <div class ="col-lg-6 footer-text">
                <h4>Around the web</h4>
                <a class="btn btn-social mx-1" href="https://www.linkedin.com/in/hoangthuylinh2812/"><i class="footer-icon fa-brands fa-linkedin"></i></a>
                <a class="btn btn-social mx-1" href="https://github.com/LinhHoang2812"><i class="footer-icon fa-brands fa-github"></i></a>
            </div>    
        </div>
        
    </div>

</section>

    <div class="copyright">
        <small>© Copyright 2023 Linh Hoang</small>
    </div>
<script>
    const form= document.queryselector('#contactform')
    form.addEventListener('submit',function(){

        form.submit();

    })
</script>
  
</body>
</html>